{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
<style>
  .card-header {
    background-color: #c04b2d;
    color: white;
  }
</style>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> I am Samandar Abduraimov and you can contact me instagram or telegram </p>
      <a href="https://t.me/SMVNDR" class="btn btn-danger">Telegram!</a>
      <a href="https://www.instagram.com/_samandar_abduraimov_/" class="btn btn-secondary">Instagram</a>
    </div>
  </div>
</div>

{% endblock sidebar %}